#brand {
    outline: 0;
}

#brand:hover {
    color: white;
}

.header {
    height: 280px;
    width: 100%;
    display: block;
    background-color: transparent;
    background: url('/images/header.jpg') no-repeat;
    background-size: 100% 100%;
    border-radius: 23px;
}

.photo {
    height: 280px;
    width: 67%;
    display: block;
    background-color: transparent;
    background: url('/images/mainphoto.jpg') no-repeat;
    background-size: 100% 100%;
    border-radius: 7px;
}

.head {
}

body {
    background: url('/images/backgroundImage.png') no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: 60px;

}

.left {
    position: absolute;
    float: left;
    margin-top: 30px;
}

#navheader {
    background-color: #8998EB;
    border-color: #566DE1;
    border-bottom-width: 3px;
}

#app-navbar-collapse ul li a {
    color: #ECF0F1;
}

#brand {
    color: #ECF0F1;
}

.education-content {
    background-color: #fff;
    /*height: 700px;*/
    border-radius: 10px;
    box-shadow: 1px 0 5px -1px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.file-header {
    margin: 0;
    padding-bottom: 17px;
    margin-top: -7px;
}

.size-and-date {
    color: darkgray;
}

.down-button-container {
    margin-top: -15px;
    margin-left: 50px;
}

.down-button {
    margin-left: 30px;
}

.work-container {
    margin-top: 30px;
}

.work-container-item {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}

.work-container-item-fix {
    padding-bottom: 30px;
}

.work-content {
    min-height: 330px;
    margin-top: 15px;
    /*text-align: center;*/
}

.work-categories {
    float: left;
    position: fixed;
}

.comments {
    font-weight: bold;
    margin-top: 20px;
}

.comments-user {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

.comments-date {
    display: inline-block;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.comments-message {
    margin-bottom: 20px;
}

.description-work {
    /*word-break: break-all;*/
    text-align: left;
}

.pagination li {
    margin-right: 0;
}

body div {
    font-family: 'Roboto', sans-serif;
}

.image-gallery {
    border-radius: 2px;
    /*float: left;*/
    margin-right: 15px;
    max-width: 100%;
    margin-bottom: 44px;
    max-height: 560px;
}

.image-games {
    border-radius: 2px;
    margin-right: 15px;
    max-width: 100%;
    margin-bottom: 20px;
}

.open-button {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.donate-text {
    font-size: 14px;
    width: 400px;
    line-height: normal;
    color: gray;
}

p {
    text-indent: 1.5em;
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

#footer {
    color: inherit;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #D9A3E6;
    border-top: 3px solid;
    border-color: #C882D9;
}

/* MEDIA QUERIES */

#sidebar-wrapper {
    border-color: lightgray;
}
@media (min-width: 2201px) and (max-width: 8000px) {
    .header {
        height: 390px;
    }

    .photo {
        height: 390px;
    }
    .fadein {
        display: inline-block;
        text-align: center;
        width: 50%;
        position: relative;
        padding-bottom: 450px;
    }

    .fadein > img {
        width: 100%;
        text-align: center;
        max-height: 450px;
    }
}

@media (min-width: 1600px) and (max-width: 2200px) {
    .header {
        height: 390px;
    }

    .photo {
        height: 390px;
    }
    .fadein {
        display: inline-block;
        text-align: center;
        width: 50%;
        position: relative;
        padding-bottom: 450px;
    }

    .fadein > img {
        width: 100%;
        text-align: center;
        max-height: 450px;
    }
}


/* Landscape tablets and medium desktops */
@media (min-width: 1151px) and (max-width: 1599px) {
    .fadein > img {
        width: 100%;
        text-align: center;
        max-height: 300px;
    }
    .fadein {
        display: inline-block;
        text-align: center;
        width: 50%;
        position: relative;
        padding-bottom: 300px;
    }
}


/* Landscape tablets and medium desktops */
@media (min-width: 1001px) and (max-width: 1150px) {
    .header {
        height: 240px;
    }

    .photo {
        height: 240px;
    }

    #sidebar-wrapper {
        width: 240px;
    }
    .fadein > img {
        width: 100%;
        text-align: center;
        max-height: 300px;
    }
    .fadein {
        display: inline-block;
        text-align: center;
        width: 50%;
        position: relative;
        padding-bottom: 300px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 800px) and (max-width: 1000px) {
    .header {
        height: 240px;
    }

    .photo {
        height: 0;
    }

    #sidebar-wrapper {
        width: 190px;
    }
    .fadein > img {
        width: 100%;
        text-align: center;
        max-height: 300px;
    }
    .fadein {
        display: inline-block;
        text-align: center;
        width: 50%;
        position: relative;
        padding-bottom: 300px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 600px) and (max-width: 799px) {
    .header {
        height: 200px;
    }

    .photo {
        height: 0;
    }

    #sidebar-wrapper {
        width: 140px;
    }
    .fadein > img {
        width: 100%;
        text-align: center;
        max-height: 300px;
    }
    .fadein {
        display: inline-block;
        text-align: center;
        width: 50%;
        position: relative;
        padding-bottom: 300px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 599px) {
    .header {
        height: 190px;
    }

    .photo {
        height: 0;
    }

    #sidebar-wrapper {
        width: 150px;
    }
    .fadein > img {
        width: 100%;
        text-align: center;
        max-height: 300px;
    }
    .fadein {
        display: inline-block;
        text-align: center;
        width: 50%;
        position: relative;
        padding-bottom: 300px;
    }
}

.main-text {
    text-align: justify;
    font-size: 16px;
}

.images {
    text-align: center;
}

/*.fadein {*/
    /*display: inline-block;*/
    /*text-align: center;*/
    /*width: 50%;*/
    /*position: relative;*/
    /*padding-bottom: 450px;*/
/*}*/

/*.fadein > img {*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*max-height: 450px;*/
/*}*/